/* 

Olive: #A3BCB6

Green Leaf: #39603D

Brown Grey: #3C403D

Tanly: #DADED4

White: #FFFFFF 

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #fff;

}

.navbar {
    background-color:  #fff !important;
    margin-bottom: 30px;
}

hr {
    margin: 40px;
}