/* 

Olive: #A3BCB6

Green Leaf: #39603D

Brown Grey: #3C403D

Tanly: #DADED4
 
White: #FFFFFF

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    color: #fff;
    background-color: #022140; 
}

.navbar {
    background-color:  #265077 !important;
}

nav div a {
  color: #fff !important;
}

.cursor {
  display: inline-block;
  width: 4px;
  background-color: #b37d4e;
  opacity: 75%;
  margin:0 2px;
  animation: blink 1s infinite;
}

@keyframes blink {

    0% { background-color: #b37d4e; }
    49% { background-color: #b37d4e; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #b37d4e; }
}

.img-thumbnail {
  border: 5px solid #b37d4e ;

}

.projects div a {
  text-decoration: none;
  color: #fff;
}
    
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;          /* Footer height */
}

.social-icons {
  margin-top: 3rem;
  color: #b37d4e;
}

hr {
  border: 3px solid  #5085A5  ;
}

.card {
  background-color: #022140 ;
  border: 5px solid #b37d4e ;
  
}